#logo {
    height: 32px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #FEF6EB;
}

li, a {
    font-family: "Karla", san-serif;
    font-weight: 1200;
    font-size: 20px;
    color: #CC2121;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 200px;
    padding-left: 200px;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

h1 {
    font-family: Karla, sans-serif;
    font-size: 60px;
    font-weight: 1200;
    color: #393939;
}

h2 {
    font-family: Karla, sans-serif;
    font-size: 22px;
    font-weight: 100;
    color: #888888;
}

#landing {
    height: 500px;
}

.body_header1 {
    margin-bottom: 35px;
}

.body_text1 {
    display: flex;
    flex-direction: column; 
    justify-content: space-around;
    padding-left: 150px;
}

.body_content1 {
    display: flex;
    flex-direction: row; 
    align-items: center;
    padding-top: 20px;
    padding-bottom: 75px;
    padding-left: 200px;
    padding-right: 200px;
}

.body_header2 {
    margin-bottom: 35px;
}

.body_text2 {
    display: flex;
    flex-direction: column; 
    justify-content: space-around;
    padding-right: 150px;
}

.body_content2 {
    display: flex;
    flex-direction: row-reverse; 
    align-items: center;
    padding-top: 20px;
    padding-bottom: 100px;
    padding-left: 200px;
    padding-right: 200px;
}

